{# J'étends la base.html.twig pour récupérer sur mon fichier
toute la structure commune et de venir mettre dans les
block le contenu spécifique de ma page
#}
{% extends 'base.html.twig' %}

{# je définis le contenu spécifique de ma page dans le block content #}
#}
{% block content %}

    <div class="articles-container">

        {# j'utilise le filtre Twig 'length' pour
         calculer le nombre d'éléments dans mon tableau
         et afficher un message d'erreur si je n'ai pas d'éléments
         #}
        {% if articles | length > 0 %}

            {% for article in articles %}
                <article class="article">
                    <div class="article-bg-image" style="
                        background-image: url('{{ article.image }}');
                    "></div>
                    <h2 class="article-title">{{ article.title }}</h2>
                </article>
            {% endfor %}

        {% else %}
            <h2>Il n'y a pas d'article !</h2>
        {% endif %}
    </div>

{% endblock content %}
